.header {
        /*background-color: #2879d0; */
        background-color: #cc6633;
        color: #000099;
}
nav {
        
        /*background-color: lightsteelblue;*/
        background-color: #cc9933;
}
nav li {
        color: #2879d0;
        font-weight: bold;
        font-size: 1.2rem;
}
h2 {
        /*background-color: lightsteelblue;*/
        background-color: cccc33;
        text-align: center;
        color: #2879d0;
}
a {
        color: #2879d0;
        text-decoration: none;
}
div a {
        font-size: 1.2rem;
}
